*{
    color: #a1a1a1;
}

/* Style the search field */
#search-form input[type=text] {
width: 100%;
}
/* Style the submit button */
#search-submit{
float: left;
width: 73px;
padding: 3px 12px;
background: #00d387;
color: white;
font-size: 1em;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}
#search-submit:hover,#search-submit:active,#search-submit:focus{
    background: #00d387;
    color: white;
}
#search-clear{
    background: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: inherit;
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: x-large;
}
/* Clear floats */
#search-form::after {
content: "";
clear: both;
display: table;
}

body{
    background-color: #f2f2f2;
}

#main-title{
    padding: 20px;
    font-weight: bold;
    font-size: xx-large;
}

.flex-container {
/*padding: 0;
margin: 0;*/
list-style: none;

display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-flex-flow: row wrap;
justify-content: space-around;
}
#search-button{
    background-color: #f2f2f2;

}

#search-button:focus{
    background-color: white; 
}
#error div{
    padding: 10px;
    color: #e80000;
    font-size: medium;
}
#nothing div{
    padding: 56px;
    color: #a1a1a1;
    font-size: large;
    font-weight: 500;
}
#nothing span{
    font-size: x-large;
    font-weight: 700;
    padding-right: 16px;
}
.flex-item {
text-align: center;
word-break: break-all;
}
#results{
    margin-top: 30px;
}
.book{
    height: 250px;
    padding:10px;
    min-height: 150px;
}
.book-container{
    position: relative;
    display: flex;
    height: 100%;
}
.book-image{
    float: left;
    z-index: 101;
    height: 100%;
    margin: 0 0 20px 20px;
    position: relative;
}
.book-image img{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.book-background{
    background-color: #f9f9f9;
    height:200px;
    width:100%;
    position: absolute;
    left:0px;
    bottom:0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.book-info{
    overflow: visible;
    flex-grow:10;
    text-align: left;
    height: 200px;
    bottom: 0px;
    position: relative;
    z-index: 100;
    padding-top: 45px;
    padding-left: 20px;
}
.book-title{
    font-weight: bold;
    color: #737373;
}
.book-link{
    position: absolute;
    bottom: -20px;
}
.book-link a,.book-link a.btn:hover,.book-link a.btn:active,.book-link a.btn:focus{
    background-color: #00d387;
    color:white;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 12px;
    padding: 7px 34px;
    box-shadow: none;
}