*{
    color: #a1a1a1;
}
body{
    background-color: #f2f2f2;
}
#main-title{
    padding: 20px;
    font-weight: bold;
    font-size: xx-large;
}
.book{
    height: 250px;
    padding:10px;
    min-height: 150px;
}
.book-container{
    position: relative;
    height: 100%;
}
.book-image{
    float: left;
    z-index: 101;
    margin: 0 0 20px 20px;
    position: relative;
}
.book-background{
    background-color: #f9f9f9;
    height:200px;
    width:100%;
    position: absolute;
    left:0px;
    bottom:0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.book-info{
    padding-top: 16%;
    padding-left: 35%;
    position: relative;
    text-align: left;
    height: 75%;
    z-index: 100;
}
.book-title{
    font-weight: bold;
    color: #737373;
}
.book-link{
    background-color: #00d387;
    font-weight: bold;
    margin: 10px 0;
}